@font-face {
    font-family: open sans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight:700;
}

@font-face {
    font-family: open sans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight:900;
}

@font-face {
    font-family: FreightSans Pro Bold;
    src: url(../fonts/FreigSanProBold.ttf);
    font-weight:900;
}