/*
 * COLORS:
 *
 * Orange: #EC3F12
 * Green: #33A000
 * Blue/Teal : #2298B4
 * Smoke Blue: #9EBCC3
 *
 */

html {
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}
#top-fader {
  display: none;
  position: fixed;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  z-index: 3;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

#left-col {
  width: 240px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px 0 0 10px;
}
#menu {

  margin-right: 12px;
  padding-bottom: 100px;
  height: 100%;
}
#menu li {
  display: block;
  font-family: open sans;
  border-right: 1px solid #CCC;
  color: #9EBCC3;
  letter-spacing: .1em;
  font-size: 12px;
  text-align: right;
  padding: 0 10px;
  text-transform: lowercase;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}
#slider-menu {
  padding-left: 100px;
}
#slider-menu li {
  width: 40px;
  height: 40px;
  margin: 0 0 5px 10px;
  background-color: #9EBCC3;
  -webkit-transition: margin 0.1s ease-in;
  -moz-transition: margin 0.1s ease-in;
  -o-transition: margin 0.1s ease-in;
}

#slider-menu li:hover {
  margin-left: 0;
  margin-right: 10px;
  -webkit-transition: margin 0.1s ease-in;
  -moz-transition: margin 0.1s ease-in;
  -o-transition: margin 0.1s ease-in;
  /*  -webkit-box-shadow: 4px 2px 12px 0px rgba(50, 138, 195, 0.55);
   -moz-box-shadow: 4px 2px 12px 0px rgba(50, 138, 195, 0.55);
   box-shadow: 4px 2px 12px 0px rgba(50, 138, 195, 0.55);*/
}

#menu li:hover {
  color: #007095;
  border-right: 2px solid #008CBA;
  padding: 0 9px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}

.selected {
  color: #EC3F12 !important;
  border-right: 2px solid #EC3F12 !important;
  padding: 0 9px !important;
}

.separator {
  border-right: 1px solid #ccc !important;
  cursor: default !important;
}

.separator:hover {
  border-right: 1px solid #ccc !important;
}
#footer {
  font-family: FreightSans Pro Bold;
  font-weight: 900;
  font-size: 12px;
  color: #ccc;
  position: fixed;
  bottom: 10px;
  left: 122px;
}
#logo {
  font-family: FreightSans Pro Book;
  font-size: 58px;
  color: #333;
  cursor: pointer;
  /*  text-transform: lowercase;*/
}

.med-logo {
  transform: scale(.9,.9) translate(-14px,-15px);
}

h1 {
  font-family: FreightSans Pro Book;
  font-size: 48px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.info-page {
  left: 280px;
  top: 110px;
  position: absolute;
  font-family: open sans;
  font-size: 12px;
  color: #333;
  opacity: 1;
  -webkit-transition: opacity .5s, left .5s;
  transition: opacity .5s, left .5s;
  z-index: 2
}
.info-page.hidden {
  left: 300px;
  opacity: 0;
  z-index: -1;
}
.info-header {
  letter-spacing: .25em;
  font-size: 18px;
  font-family: open sans;
  margin-top: 14px;
  color: #9EBCC3;
}
#contact-header-big {
  letter-spacing: .2em;
  font-size: 32px;
  color: #E7E7E7;
  display: none;
}
a.extern {
  color: #007095;
  text-decoration: none;
}
a.extern:hover {
  color: #EC3F12;
}
a.extern:visited {
  color: #008CBA;
}
#stage {

  position: absolute;
  left: 140px;
  margin-left: 100px;
  z-index: 2;
  width: 100%;
  top: 0;
}
#stage.hidden, #collage.hidden {
  opacity: 0;
  z-index: -1;
  display: none;
}
.col {
  width: 400px;
  height: 100%;
  background-color: #fff;
  margin: 5px;
}
#col1 {
  position: absolute;
  left: 20px;
  top: 33px;
}
#col2 {
  position: absolute;
  left: 425px;
}
#col3 {
  position: absolute;
  left: 830px;
  top: 13px;
}

#stage div ul li {
  width: 100%;
  padding: 5px 5px 0 0;
  display: block;
}
.tile {
  width: 180px;
  height: 180px;
  display: block;
  background-color: #F2F9FC;
  background-position: center;
  background-size: cover;
  float: left;
  margin: 0 5px 5px 0;
}
#collage {
  position: absolute;
  width: 1300px;
  left: 230px;
}

#stage div ul li img {
  cursor: pointer;
}

#stage div ul {
  margin: 0;
  padding: 0;
  width: 400px;
}

#reviews {
  width: 600px;
    font-size: 14px;
  font-weight: 700;
  color: #545D5F;
}

.review {
	height: 200px;
}

#reviews ul {
	padding-left: 0;
}
#reviews ul li .review-img {
width: 150px;
height: 200px;
background-position: center;
background-size: cover;
box-shadow: 0 0 10px #fff inset;
border-radius: 8px;
float: left;
}

.review-quote {
  float: left;
width: 430px;
margin: 10px 0 0 20px;
}
.review-author {
display: block;
margin-top: 10px;
float: right;
}
.review-author span {
  left: 0;
  font-weight: 900;
  font-size: 13px;
  margin-bottom: 10px;
  color: #494949;
  margin-top: 10px;
  padding-top: 10px;
  top: 10px;
}

.blue {
  color: #2298B4;
}
.spaceout {
  letter-spacing: .8em;
}

.small {
  font-size: 8px;
}

.photolettering {
  font-size: 20px;
  letter-spacing: .4em;
  margin-left: 3.5em;
  margin-top: -1.8ex;
}
.stage-img {
  display: none;
}
.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  -o-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
} }
@-moz-keyframes
fadeIn {from {
  opacity: 0;
}
to {
  opacity: 1;
} }
@-o-keyframes
fadeIn {from {
  opacity: 0;
}
to {
  opacity: 1;
} }
@keyframes
fadeIn {from {
  opacity: 0;
}
to {
  opacity: 1;
} }



@media screen and (max-device-width: 480px) {

  #left-col {
    width: 240px;
    background-color: #fff;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px 0 0 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  #stage {
    position: relative;
    left: 0;
    margin-left: 0;
    z-index: 1;
    width: 100%;
  }

  .col {
    width: 400px;
    height: 100%;
    background-color: #fff;
    margin: 5px;
    margin: 0;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  }
}
