/*
 * COLORS:
 *
 * Orange: #EC3F12
 * Green: #33A000
 * Blue/Teal : #2298B4
 * Smoke Blue: #9EBCC3
 *
 */

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: rgba(236, 63, 18, 0.78);
  color: white;
}
::-moz-selection {
  background: rgba(236, 63, 18, 0.78);
}

ul {
  list-style: none;
}
#top-fader {
  display: none;
  position: fixed;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  z-index: 3;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

#left-col {
  width: 240px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px 0 0 10px;
  min-height: 330px;
  z-index: 3;
}

/* Hide unless on mobile*/
#mobile-selected {
  display: none;
}
#menu {
  margin-right: 12px;
  padding-bottom: 100px;
  height: 100%;
  background-color: transparent;
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

#menu.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.4s, opacity 0.4s linear;
  -webkit-transition: visibility 0s linear 0.4s, opacity 0.4s linear;
  transition: visibility 0s linear 0.4s, opacity 0.4s linear;
}
#menu li {
  display: block;
  font-family: open sans;
  border-right: 1px solid #CCC;
  color: #9EBCC3;
  letter-spacing: .1em;
  font-size: 12px;
  text-align: right;
  padding: 0 10px;
  text-transform: lowercase;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}
#slider-menu {
  padding-left: 100px;
}
#slider-menu li {
  width: 40px;
  height: 40px;
  margin: 0 0 5px 10px;
  background-color: #9EBCC3;
  -webkit-transition: margin 0.1s ease-in;
  -moz-transition: margin 0.1s ease-in;
  -o-transition: margin 0.1s ease-in;
}

#slider-menu li:hover {
  margin-left: 0;
  margin-right: 10px;
  -webkit-transition: margin 0.1s ease-in;
  -moz-transition: margin 0.1s ease-in;
  -o-transition: margin 0.1s ease-in;
  /*  -webkit-box-shadow: 4px 2px 12px 0px rgba(50, 138, 195, 0.55);
   -moz-box-shadow: 4px 2px 12px 0px rgba(50, 138, 195, 0.55);
   box-shadow: 4px 2px 12px 0px rgba(50, 138, 195, 0.55);*/
}

#menu li:hover {
  color: #007095;
  border-right: 2px solid #008CBA;
  padding: 0 9px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}

.selected {
  color: #EC3F12 !important;
  border-right: 2px solid #EC3F12 !important;
  padding: 0 9px !important;
}

#menu li.separator {
  border-right: 1px solid #ccc;
  cursor: default !important;
}

.separator:hover {
  border-right: 1px solid #ccc !important;
}
#footer {
  font-family: FreightSans Pro Bold;
  font-weight: 900;
  font-size: 12px;
  color: #ccc;
  position: fixed;
  bottom: 15px;
  left: 122px;
}
#logo {
  font-family: FreightSans Pro Book;
  font-size: 58px;
  color: #333;
  cursor: pointer;
  /*  text-transform: lowercase;*/
}

.med-logo {
  transform: scale(.9,.9) translate(-14px,-15px);
}

h1 {
  font-family: FreightSans Pro Book;
  font-size: 48px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.info-page {
  left: 280px;
  top: 110px;
  position: absolute;
  font-family: open sans;
  font-size: 12px;
  color: #333;
  opacity: 1;
  -webkit-transition: opacity .5s, left .5s;
  transition: opacity .5s, left .5s;
  z-index: 2
}
.info-page.hidden {
  left: 300px;
  opacity: 0;
  z-index: -1;
}
.info-header {
  letter-spacing: .25em;
  font-size: 18px;
  font-family: open sans, sans serif;
  font-weight: 700;
  margin-top: 14px;
  color: #8DB2BB;
  color: #F07454;
  /*border-bottom: 1px solid rgba(141, 178, 187, 0.16);*/
}
#contact-header-big {
  letter-spacing: .2em;
  font-size: 32px;
  color: #E7E7E7;
  display: none;
}
a.extern {
  color: #007095;
  text-decoration: none;
}
a.extern:hover {
  color: #EC3F12;
}
a.extern:visited {
  color: #008CBA;
}
#stage {
  width: 100%;
  position: absolute;
  left: 240px;
  z-index: 2;
  top: 0;
}
#stage.hidden, #collage.hidden {
  opacity: 0;
  z-index: -1;
  display: none;
}

#stage div ul li {
  width: 100%;
  padding: 5px 5px 0 0;
  display: block;
}
.tile {
  width: 180px;
  height: 180px;
  display: block;
  background-color: #F2F9FC;
  background-position: center;
  background-size: cover;
  float: left;
  margin: 0 5px 5px 0;
}
#collage {
  position: absolute;
  width: 1300px;
  left: 230px;
}

#stage div ul li img {
  cursor: pointer;
}

#stage div ul {
  margin: 0;
  padding: 0;
  width: 400px;
}

#reviews {
  max-width: 620px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #545D5F;
}

#reviews-clear {
  position: absolute;
  z-index: 2;
  background-color: white;
  margin-top: 0;
}
#reviews-blurred {
  -webkit-filter: blur(10px);
  position: absolute;
  z-index: 1;
}
#reviews-header {
  position: fixed;
  top: 0;
  margin: 0;
  background-color: rgba(255,255,255,.96);
  width: 100%;
  padding: 55px 0 15px 10px;
  z-index: 5;
}

.ice {
  background: inherit;
}

.ice:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(5px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: url(#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
}

.review {
  height: 200px;
}

#reviews ul {
  padding-left: 0;
  left: 5px;
}
#reviews ul li .review-img {
  width: 150px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  float: left;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.review-quote {
  float: left;
  width: 100%;
  max-width: 435px;
  margin: 10px 0 0 30px;
}
.review-author {
  display: block;
  margin-top: 10px;
  float: right;
}
.review-author span {
  left: 0;
  font-weight: 900;
  font-size: 13px;
  margin-bottom: 10px;
  color: #494949;
  margin-top: 10px;
  padding-top: 10px;
  top: 10px;
}

.blue {
  color: #2298B4;
}
.spaceout {
  letter-spacing: .8em;
}

.small {
  font-size: 8px;
}

.photolettering {
  font-size: 20px;
  letter-spacing: .4em;
  margin-left: 3.5em;
  margin-top: -1.8ex;
}
.stage-img {
  opacity: 0;
  /*  float: left;*/
  margin: 0 5px 1px 0;
}

/* don't have link take up any space in the tile*/
.stage-img a {

}

.stage-img a img {
  width: 400px;
}

#photo-col {
  height: 100%;
  margin: 5px;
}

/*#photo-col:nth-child(1) {
 top: 33px;
 }*/

.fadeIn {
  opacity: 1;
  transition: opacity 0.4s;
}

.fadeOut {
  opacity: 1;
  -webkit-animation: fadeIn ease-in .4;
  -moz-animation: fadeIn ease-in .4;
  -o-animation: fadeIn ease-in .4;
  animation: fadeIn ease-in .4;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -o-animation-duration: .4s;
  animation-duration: .4s;
}

@-webkit-keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
} }
@-moz-keyframes
fadeIn {from {
  opacity: 0;
}
to {
  opacity: 1;
} }
@-o-keyframes
fadeIn {from {
  opacity: 0;
}
to {
  opacity: 1;
} }
@keyframes
fadeIn {from {
  opacity: 0;
}
to {
  opacity: 1;
} }

/* Tablets */
@media only screen and (min-device-width: 768px) {
  #menu {
    background: none;
  }
}

.mobile-test {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: green;
  z-index: 100;
  padding: 0;
  margin: 0;
}
@media screen and (max-device-width: 480px) {

  body {
    margin: 0;
    padding: 0;
  }
  .mobile-test {
    /*		display: block;*/
  }
  .med-logo {
    transform: scale(.6,.6) translate(-96px,-45px);
  }

  #footer {
    bottom: 5px;
  }

  #left-col {
    padding: 0;
    width: 100%;
    height: 68px;
    min-height: 68px;
    background-color: rgba(255,255,255,.97);
  }

  #mobile-menu {
    height: 20px;
    top: 16px;
    background-color: transparent;
    color: #EC3F12;
    display: block;
    position: absolute;
    right: 16px;
    font-size: 13px;
    border: 1px solid #EC3F12;
    border-radius: 8px;
    padding: 8px;
    font-family: open sans, sans serif;
    width: 90px;
  }
  #mobile-menu::before {
    content: '▶  ';
    display: inline;
    float: left;
    margin-right: 5px;
  }

  #mobile-menu.open {
    padding-bottom: 23px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
  }

  #mobile-menu.open::before {
    content: '▼  ';
  }

  #menu li {
    background-color: transparent;
    color: white !important;
    position: relative;
    padding: 10px 15px;
    border-right: none;
  }
  .menu li.separator {
    border-right: none;
  }

  #menu {
    top: 52px;
    right: 4px;
    position: fixed;
    background-color: rgba(236, 63, 18, 0.80);
    padding: 10px 0;
    height: auto;
  }

  /* not needed but undoes annoying transitions in debug*/
  #menu li:hover {
    padding: 10px 15px;
    border: none;
  }

  #menu li.separator {
    border: none;
  }

  /*Dark Orange Menu style*/
  /*    background-color: white;
   color: #EC3F12 !important;
   display: block !important;
   position: absolute;
   right: 0;
   font-size: 13px;
   border: 1px solid #EC3F12 !important;
   border-radius: 8px;
   padding: 8px !important;*/

  /* Bright Menu Style */
  /*    display: list-item;
   top: -45px;
   padding-bottom: 35px;
   background-color: #EC3F12;
   color: white !important;
   height: 20px;
   position: absolute;
   width: 90px;
   display: block;
   right: 0;*/

  #logo {
    z-index: 11;
    padding: 18px 0 0 10px;
  }
  #stage {
    left: 0;
    width: 100% !important;
  }
  #photo-col {
    padding: 0;
    margin: 0;
    top: 68px;
  }
  .stage-img a img {
    width: 100%;
  }

  .stage-img {
    margin: 0 0 0px 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  #collage {
    width: 100%;
    position: absolute;
    left: 0;
  }
  .info-page {
    left: 0;
    top: 0;
  }
  .info-page.hidden {
    width: 0;
    left: 0;
    overflow: hidden;
  }

  .info-header {
    display: none;
  }
  #reviews ul {
    left: 0;
  }
  .review {
    margin: 20px;
    height: 100%;
    padding-top: 50px;
  }
  #reviews-clear {
    width: 100%;
  }
  .review-quote {
    margin: 20px 0;
    float: none;
  }

  #reviews-clear .review .review-img {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 15px;
  }

}

/* Tooltip styles */
.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
